.energy-resources {
  padding: 10px;
  margin-top: 10px;
  background: linear-gradient(to top, #407ebe, #336598);
  border-radius: 25px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}

.btns {
  margin-top: 10px;
  margin: 8px;
  color: #fff;
  /* display: flex; */
}

/* .btn {
  margin: 8px;

} */

.header {
  text-align: center;
}
